<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
    {%block head%}
    <meta charset="utf-8">
    <title></title>
    {%endblock%}
    <style>


    .jumbotron{
      background: white;
      width: 790px;

    }
    </style>
  </head>
  <body background='https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BhBjRHe1Mj9qufshq/videoblocks-video-4k-animation-shinny-blue-stars-slowly-movement-in-black-galaxy-space-background-at-night_rlkmgjykg_thumbnail-full01.png'>
    <div   class="container">
      <br>
      <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/Rockets1/time">NASA`s Rocky room</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">

           <ul class="nav navbar-nav navbar-right">

             <li> <a href="">Satelites` Launching</a></li>
             <li> <a href="/Rockets1/spaceports">world’s major spaceports</a></li>

           </ul>

         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>

    </div>

  {%block body%}
    {%for rocket in rockets%}

<div class="jumbotron">
<h3>  {{rocket.rockets_name}} <br>
</h3>
      <p>
          <font color= black ; size = '3'>
             Launch Time:{{rocket.lanuch_window}} <br>
             Launch window:{{rocket.launch_site}} <br> <br>
             Description:{{rocket.description}}

      </font>
      </p>


    </div>







    {%endfor%}

      {%endblock%}



  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>



  </div>

    {%endfor%}

      {%endblock%}



  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
