<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
    {%block head%}
    <meta charset="utf-8">
    <title></title>
    {%endblock%}
    <style>

    .container{
    background:black;


    margin:auto;
    }
    </style>
  </head>
  <body background='https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BhBjRHe1Mj9qufshq/videoblocks-video-4k-animation-shinny-blue-stars-slowly-movement-in-black-galaxy-space-background-at-night_rlkmgjykg_thumbnail-full01.png' >
    <div class="container">
      <br>
      <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/Rockets1/time">NASA`s Rocky room</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">

           <ul class="nav navbar-nav navbar-right">

             <li> <a href="/Rockets1/spaceports">world’s major spaceports</a></li>


             <li> <a href="">Satelites` Launching</a></li>

           </ul>

         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
     </nav>

    </div>

  {%block body%}
  <div class="container">
    <h1 >
      <font color=white>

       What are spaceports ?
</font>
     </h1>



<p>
  <font color=white>

  A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to seaport for ships or airport for aircraft. The word spaceport, and even more so cosmodrome, has traditionally been used for sites capable of launching spacecraft into orbit around Earth or on interplanetary trajectories. However, rocket launch sites for purely sub-orbital flights are sometimes called spaceports, as in recent years new and proposed sites for suborbital human flights have been frequently referred to or named 'spaceports'. Space stations and proposed future bases on the moon are sometimes called spaceports, in particular if intended as a base for further journeys.

The term rocket launch site is used for any facility from which rockets are launched. It may contain one or more launch pads or suitable sites to mount a transportable launch pad. It is typically surrounded by a large safety area, often called a rocket range or missile range. The range includes the area over which launched rockets are expected to fly, and within which some components of the rockets may land. Tracking stations are sometimes located in the range to assess the progress of the launches.

Major spaceports often include more than one launch complex, which can be rocket launch sites adapted for different types of launch vehicles. (These sites can be well-separated for safety reasons.) For launch vehicles with liquid propellant, suitable storage facilities and, in some cases, production facilities are necessary. On-site processing facilities for solid propellants are also common.

A spaceport may also include runways for takeoff and landing of aircraft to support spaceport operations, or to enable support of HTHL or HTVL winged launch vehicles.
</font>

</p>


  </div>

      {%endblock%}



  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
